* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.calculator {
    margin-top: 3rem;
    width: 30%;
    height: 80%;
    background-color: #f2f2f2;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0,0,0,0.3);
}

.screen {
    height: 17%;
    width: 100%;
    padding: 0.5rem;
    font-size: xx-large;
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
    outline: none;
    border-style: none;
    box-shadow: inset 0 0.2rem 0.4rem rgba(0,0,0,0.3);
}

.buttons {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 0.5rem;
}

.button  {
    height: 2.75rem;
    font-size: 1.5rem;
    background-color: white;
    border-style: none;
    border-radius: 0.5rem;
    box-shadow: 0 0.1rem 0.2rem rgba(0,0,0,0.3);
}

.sign {
    background-color: blueviolet;
    color: white;
}

.allclear {
    background-color: red;
    color: white;
}

.equals {
    background-color: green;
    color: white;
}

.clear {
    background-color: orange;
    color: white;
}

.button.allclear:hover {
    background-color: orange;
}

.button.sign:hover {
    background-color: violet;
}

.button.equals:hover {
    background-color: lawngreen;
}

.button.clear:hover {
    background-color: gold;
}

.button:hover {
    background-color: darkgray;
}